.sec1 {
  background-image: url("/assets/images/test1.webp");
  color:white;
  background-repeat:no-repeat;
}

.sec2 {
  background: #FFFFFF;
  color:blue;

}

::ng-deep .mat-form-field-underline {
  display: none;
}

.content{
 overflow-x:  hidden;
position: fixed;
}
